[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=/usr/bin/bash -c "cat ~/keepass-password.file | keepassxc --pw-stdin ~/keepass-passwords.kdbx"
Name=KeePass
Icon=keepassxc
