[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=/usr/bin/bash -c "cat ~/.local/keepass/keepass-password.file | keepassxc --pw-stdin ~/Sync/keepass/keepass-passwords.kdbx"
Name=KeePass
Icon=keepassxc
